<template>
    <div class="bar-preloader rounded-lg"
         :style="getBarStyle()"
    >
    </div>
</template>

<script>

export default {
    name: "Bar",
    props: {
        width: {
            type: String,
            default: 'inherit',
        },
        height: {
            type: String,
            default: '10px',
        },
        mainColor: {
            type: String,
            default: '#666',
        },
        bgColor: {
            type: String,
            default: '#ccc',
        },
    },
    methods: {
        getBarStyle() {
            const styleArr = [
                `width: ${this.width}`,
                `height: ${this.height}`,
                `background-image: linear-gradient(to right, ${this.bgColor}, ${this.mainColor}, ${this.bgColor})`,
            ];

            return styleArr.join('; ');
        }
    }
}
</script>

<style scoped>
.bar-preloader {
    display: block;
    line-height: 0;
    background-size: 500% 100%;
    animation: linear-gradient-preloader 2s infinite ease-in-out;
}

@keyframes linear-gradient-preloader {
    0% {
        background-position: 0;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}

@-webkit-keyframes linear-gradient-preloader {
    0% {
        background-position: 0;
    }
    50% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}
</style>