<template>
    <button :tabindex="tabIndex" :disabled="disabled" :class="btnClass" class="relative" :type="type">
        <Loader ref="loader" size="small"/>
        <slot/>
    </button>
</template>

<script>
import Loader from "@/components/common/Loader.vue";

export default {
    name: "CustomButton",
    components: {Loader},
    props: {
        type: String,
        btnClass: String,
        disabled: Boolean,
        tabIndex: {
            type: Number,
            default: -1,
        },
    },
    methods: {
        loading() {
            this.$refs.loader.loading();
        },
        loaded() {
            this.$refs.loader.loaded();
        },
    },
}
</script>

<style scoped>

</style>