<template>
    <div>
        <div class="flex items-center justify-between">
            <label class="block text-sm font-medium leading-6 text-gray-900">{{ label }}</label>
            <slot name="top-right"></slot>
        </div>
        <div class="mt-1">
            <input v-model="inputValue"
                   :type="inputType"
                   :autocomplete="inputAutocomplete"
                   :required="inputRequired"
                   :class="inputClass"
                   @input="onInput"
                   :tabindex="inputTabIndex"
                   class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
            <p class="text-xs text-red-500 ml-1 h-0">{{ this.errors }}</p>
        </div>
    </div>
</template>

<script>
export default {
    name: "CustomInput",
    props: {
        modelValue: String,
        label: String,
        inputType: String,
        inputAutocomplete: String,
        inputRequired: Boolean,
        inputTabIndex: {
            type: Number,
            default: -1,
        },
        errors: {
            type: String,
            default: '',
        },
    },
    data: function() {
        return {
            inputValue: this.modelValue,
        }
    },
    emits: ['update:modelValue'],
    computed: {
        inputClass() {
            return this.errors !== '' ? 'ring-2 ring-red-500' : '';
        }
    },
    methods: {
        onInput(event) {
            this.$emit('update:modelValue', this.inputValue);
        }
    },
}
</script>

<style scoped>

</style>