<template>
    <Modal ref="infoModal">
        <div class="flex min-h-full flex-col justify-center px-3 py-3 sm:px-3 w-full">
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <div class="flex flex-col justify-center">
                    <font-awesome-icon :icon="icon" :class="iconColor" class="mx-auto w-auto h-10"/>
                </div>
            </div>
            <div class="flex justify-center mt-5 text-center sm:mx-auto sm:w-full">
                <slot/>
            </div>
        </div>
    </Modal>
</template>

<script>
import Modal from "@/components/common/Modal.vue";
import AuthForm from "@/components/user/AuthForm.vue";

export default {
    name: "InfoModal",
    components: {AuthForm, Modal},
    data: () => ({
        isShowToast: false,
        timer: null,
        icon: null,
        iconColor: null,
    }),
    methods: {
        openModal(type) {
            this.genIconClassByType(type);
            this.$refs.infoModal.openModal();
        },
        closeModal() {
            this.$refs.infoModal.closeModal();
        },
        genIconClassByType(type) {
            switch (type) {
                case 'none':
                    this.icon = null;
                    this.iconColor = null;
                    break;
                case 'success':
                    this.icon = 'fa-solid fa-circle-check';
                    this.iconColor = 'text-green-600';
                    break;
                case 'error':
                    this.icon = 'fa-solid fa-circle-xmark';
                    this.iconColor = 'text-red-600';
                    break;
                case 'info': default:
                    this.icon = 'fa-solid fa-circle-info';
                    this.iconColor = 'text-sky-600';
                    break;
            }
        },
    },
}
</script>

<style scoped>

</style>