<template>
    <div class="absolute bg-white bg-opacity-75 z-10 left-0 right-0 top-0 bottom-0" v-if="isLoading">
        <div class="flex justify-center items-center min-h-full">
            <svg class="spinner text-blue-600" viewBox="0 0 50 50">
                <circle class="path" cx="25" cy="25" :r="getCircleParams().radius" stroke="currentColor" fill="none" :stroke-width="getCircleParams().strokeWidth"></circle>
            </svg>
        </div>
    </div>
</template>

<script>
import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";

export default {
    name: "Loader",
    components: {FontAwesomeIcon},
    props: {
        size: {
            type: String,
            default: 'medium',
        },
    },
    data: () => ({
        isLoading: false,
    }),
    methods: {
        loading() {
            this.isLoading = true;
        },
        loaded() {
            this.isLoading = false;
        },
        getCircleParams() {
            switch (this.size) {
                case 'small':
                    return {radius: '10', strokeWidth: '3'};
                case 'medium':
                default:
                    return {radius: '20', strokeWidth: '5'};
            }
        },
    }
}
</script>

<style scoped lang="less">

.spinner {
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
    width: 50px;
    height: 50px;

    & .path {
        stroke-linecap: round;
        animation: dash 1.5s ease-in-out infinite;
    }

}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
</style>