<template>
    <teleport to="body">
        <Transition name="modal" ref="modalTransition" @enter="onEnter" @leave="onLeave">
            <div
                v-if="isShowModal"
                class="relative z-10"
                aria-labelledby="modal-title"
                role="dialog"
                aria-modal="true">
                <div v-if="isShowModal" class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity js-modal-back"></div>

                <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
                    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0 js-modal-container">

                        <div class="mb-transition relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all min-w-full z-9 sm:min-w-fit sm:my-8 sm:w-full sm:max-w-lg">
                            <div v-if="!isCloseBtnHidden" class="absolute right-2 top-2">
                                <button class="py-1 px-2 rounded-md hover:bg-gray-200" @click="closeModal">
                                    <font-awesome-icon icon="fa-solid fa-xmark"></font-awesome-icon>
                                </button>
                            </div>

                            <div class="bg-white px-4 pb-4 pt-5 sm:p-6">
                                <slot/>
                            </div>

                            <div v-if="$slots.footer" class="bg-gray-50 px-4 py-3 sm:flex sm:items-start sm:px-6">
                                <slot name="footer"/>
                            </div>

                            <Loader ref="loader"/>
                        </div>
                    </div>
                </div>
            </div>

        </Transition>
    </teleport>
</template>

<script>
    import {FontAwesomeIcon} from "@fortawesome/vue-fontawesome";
    import Loader from "@/components/common/Loader.vue";

    export default {
        emits: [
            'show', 'hide'
        ],
        components: {Loader, FontAwesomeIcon},
        props: {
            isCloseBtnHidden: {
                type: Boolean,
                default: false,
            },
            isCloseOnEsc: {
                type: Boolean,
                default: true,
            },
            isCloseOnOutsideClick: {
                type: Boolean,
                default: true,
            },
        },
        data: () => ({
            isShowModal: false,
            onEnterHooks: [],
            isModalStartShowing: false,
        }),
        methods: {
            openModal() {
                this.isShowModal = true;
                this.$emit('show');

                this.addEventListeners();
            },
            closeModal() {
                this.isShowModal = false;
                this.$emit('hide');

                this.removeEventListeners();
            },
            onEnter() {
                this.isModalStartShowing = true;

                this.onEnterHooks.forEach((elem) => {
                    elem();
                });
            },
            onLeave() {
                this.isModalStartShowing = false;
            },
            onKeyDown(event) {
                if (this.isCloseOnEsc && event.key === 'Escape') {
                    this.closeModal();
                }
            },
            onMouseDown(event) {
                if (this.isCloseOnOutsideClick && this.isOutsideOfPopup(event.target)) {
                    this.closeModal();
                }
            },
            isOutsideOfPopup(eventTarget) {
                return eventTarget.classList.contains('js-modal-back') || eventTarget.classList.contains('js-modal-container');
            },
            loading() {
                if (this.isModalStartShowing) {
                    this.$refs.loader.loading();
                } else {
                    this.onEnterHooks
                        .push(() => this.$refs.loader.loading());
                }
            },
            loaded() {
                if (this.isModalStartShowing) {
                    this.$refs.loader.loaded();
                } else {
                    this.onEnterHooks
                        .push(() => this.$refs.loader.loaded());
                }
            },
            addEventListeners() {
                document.addEventListener('keydown', this.onKeyDown);
                document.addEventListener('mousedown', this.onMouseDown);
            },
            removeEventListeners() {
                document.removeEventListener('keydown', this.onKeyDown);
                document.removeEventListener('mousedown', this.onMouseDown);
            },
        }
    }
</script>

<style lang="less" scoped>
    .modal {
        &-leave-active, &-enter-active {
            transition: opacity 0.5s ease-in-out;

            .mb-transition {
                transition: margin-bottom 0.5s ease-in-out;
            }
        }

        &-enter-from, &-leave-to {
            opacity: 0;

            .mb-transition {
                margin-bottom: 5rem;
            }
        }
    }
</style>
