<template>
    <Transition name="toast-right">
        <div v-if="isShowToast"
             class="fixed min-h-[100px] min-w-[300px] bg-white rounded-lg shadow-xl border border-gray-100 min-w-[200px] min-h-[80px] bottom-2 right-2"
             @mouseenter="onMouseEnter"
             @mouseleave="onMouseLeave"
        >
            <div class="absolute right-2 top-2">
                <button class="py-1 px-2 rounded-md hover:bg-gray-200" @click="hideToast">
                    <font-awesome-icon icon="fa-solid fa-xmark"/>
                </button>
            </div>

            <div class="flex justify-start items-center p-4">
                <span v-if="icon" class="flex justify-start items-center">
                    <font-awesome-icon :icon="icon" :class="iconColor" class="h-8"/>
                </span>
                <span class="ml-2">
                    <slot/>
                </span>
            </div>
        </div>
    </Transition>
</template>

<script>
import Timer from "@/helpers/timer.js";

export default {
    name: "Toast",
    data: () => ({
        isShowToast: false,
        timer: null,
        icon: null,
        iconColor: null,
    }),
    methods: {
        showToast(type, hideDelay) {
            this.isShowToast = true;
            this.genIconClassByType(type);

            if (hideDelay !== 0) {
                this.timer = new Timer(() => {
                    this.hideToast();
                }, hideDelay ?? 5000);
            }
        },
        hideToast() {
            this.isShowToast = false;
            this.timer.reset();
            this.timer = null;
        },
        onMouseEnter(e) {
            this.timer?.pause();
        },
        onMouseLeave(e) {
            this.timer?.resume();
        },
        genIconClassByType(type) {
            switch (type) {
                case 'none':
                    this.icon = null;
                    this.iconColor = null;
                    break;
                case 'success':
                    this.icon = 'fa-solid fa-circle-check';
                    this.iconColor = 'text-green-600';
                    break;
                case 'error':
                    this.icon = 'fa-solid fa-circle-xmark';
                    this.iconColor = 'text-red-600';
                    break;
                case 'info': default:
                    this.icon = 'fa-solid fa-circle-info';
                    this.iconColor = 'text-sky-600';
                    break;
            }
        },
    },
}
</script>

<style lang="less" scoped>
.toast-right {
    &-leave-active, &-enter-active {
        right: 0.5rem;
        transition: right 0.5s ease-in-out;
    }

    &-enter-from, &-leave-to {
        right: -300px;
    }
}
</style>