<template>
    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
    <div
        class="flex"
        v-for="item in menu">

        <router-link
            v-if="item.type === 'link'"
            :to="{name: item.name}"
            v-on:click="$emit('linkClick', item.name)"
            active-class="bg-gray-900 text-white hover:bg-gray-900"
            class="text-gray-300 hover:bg-gray-700 hover:text-white"
            :class="itemClass">
            {{ item.label }}
        </router-link>

        <button
            v-if="item.type === 'btn'"
            class="text-gray-300 hover:bg-gray-700 hover:text-white w-full text-left"
            :class="itemClass"
            v-on:click="$emit('btnClick', item.name)"
        >
            {{ item.label }}
        </button>
    </div>
</template>

<script>
    export default {
        emits: [
            'btnClick', 'linkClick'
        ],
        props: {
            itemClass: String,
            menu: Array,
        },
    };
</script>

<style scoped>

</style>
