<template>
    <nav class="bg-gray-800" :class="navClass">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden" v-on:click="() => { isMobileMenuOpen = !isMobileMenuOpen }">
                    <!-- Mobile menu button-->
                    <button type="button" class="relative inline-flex items-center justify-center w-10 h-10 rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <Transition name="mobile-menu-btn">
                            <font-awesome-icon v-if="!isMobileMenuOpen" icon="fa-solid fa-bars" class="absolute text-white w-6 h-6"/>
                            <font-awesome-icon v-else icon="fa-solid fa-xmark" class="absolute text-white w-6 h-6"/>
                        </Transition>
                    </button>
                </div>

                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <router-link :to="{name: 'Main'}">
                            <font-awesome-icon icon="fa-solid fa-building" alt="Your Company" class="text-white w-8 h-8"/>
                        </router-link>
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <HeaderMenu itemClass="rounded-md px-3 py-2 text-sm font-medium" @btnClick="onMenuBtnClick" :menu="menuItems"/>
                        </div>
                    </div>
                </div>

                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <button v-if="isAuth" type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">View notifications</span>
                        <div class="flex justify-center items-center h-4 w-4 rounded-full py-auto">
                            <font-awesome-icon icon="fa-solid fa-bell" class="text-white w-4 h-4"/>
                        </div>
                    </button>

                    <!-- Profile dropdown -->
                    <div class="relative ml-3">
                        <div v-if="!isAuth">
                            <button type="button"
                                    @click="openAuthModal"
                                    class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" aria-expanded="false" aria-haspopup="true">
                                <span class="absolute -inset-1.5"></span>
                                <span class="sr-only">Open user menu</span>
                                <div class="flex justify-center items-center h-8 w-8 rounded-full py-auto">
                                    <font-awesome-icon icon="fa-solid fa-circle-user" class="text-white w-8 h-8"/>
                                </div>
                            </button>
                        </div>

                        <div v-if="isAuth">
                            <button type="button"
                                    @click="isPersonalMenuOpen = !isPersonalMenuOpen"
                                    class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="absolute -inset-1.5"></span>
                                <span class="sr-only">Open user menu</span>
                                <div class="flex justify-center items-center h-8 w-8 rounded-full py-auto">
                                    <font-awesome-icon icon="fa-solid fa-circle-user" class="text-red-500 w-8 h-8"/>
                                </div>
                            </button>
                        </div>

                        <!--
                          Dropdown menu, show/hide based on menu state.

                          Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                          Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                        <div v-if="isAuth && isPersonalMenuOpen" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <!-- Active: "bg-gray-100", Not Active: "" -->
                            <p v-if="personalInfo" class="block px-4 py-2 text-sm text-gray-700 bg-white" role="menuitem" tabindex="-1" id="user-menu-item-0">{{ personalInfo?.name }}</p>
                            <div v-else class="flex flex-col justify-center px-4 py-2 text-sm text-gray-700 bg-white h-9" role="menuitem" tabindex="-1" id="user-menu-item-0"><Bar/></div>
                            <a href="javascript:void(0);" @click="logout" class="block px-4 py-2 text-sm text-gray-700 bg-gray-100" role="menuitem" tabindex="-1" id="user-menu-item-0">Sign out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile menu, show/hide based on menu state. -->
        <Transition name="mobile-menu">
            <div class="sm:hidden overflow-hidden" id="mobile-menu" v-if="isMobileMenuOpen">
                <div class="space-y-1 px-2 pb-3 pt-2">
                    <HeaderMenu itemClass="block rounded-md px-3 py-2 text-base font-medium" @btnClick="onMenuBtnClick" :menu="menuItems"/>
                </div>
            </div>
        </Transition>
    </nav>

    <Modal ref="makeRequestModal">
        <div class="text-center sm:ml-4 sm:mt-0 sm:text-left">
            <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">{{ trans('MakeRequest.Header') }}</h3>
            <div class="mt-2">
                <p class="text-sm text-gray-500">
                    {{ trans('MakeRequest.MainText') }}
                </p>
            </div>
        </div>

        <template v-slot:footer>
            <button
                type="button"
                @click="onModalSubmitBtnClick"
                class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 sm:mr-3 sm:w-auto">
                {{ trans('MakeRequest.SubmitBtn') }}
            </button>
            <button
                type="button"
                class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">
                {{ trans('MakeRequest.RejectBtn') }}
            </button>
        </template>
    </Modal>
</template>

<script setup>
import HeaderMenu from "./HeaderMenu.vue";
import Modal from "@/components/common/Modal.vue";
import trans from "@/helpers/translate.js";
import {authHelper} from "@/helpers/auth.js";
import Bar from "@/components/preloader/Bar.vue";
</script>

<script>
    import trans from "@/helpers/translate.js";
    import {authHelper} from "@/helpers/auth.js";
    import {axiosAuth} from "@/axios/auth.js";

    export default {
        data: () => ({
            isMobileMenuOpen: false,
            navClass: '',
            personalInfo: null,
            isPersonalMenuOpen: false,
        }),
        computed: {
            menuItems: () => {
                return [
                    {
                        name: 'makeRequest',
                        type: 'btn',
                        label: trans('HeaderMenu.MakeRequest'),
                    },
                    {
                        name: 'FAQ',
                        type: 'link',
                        label: trans('HeaderMenu.FAQ'),
                    },
                    {
                        name: 'About',
                        type: 'link',
                        label: trans('HeaderMenu.About'),
                    },
                ];
            },
            isAuth: () => {
                return authHelper.isAuth;
            },
        },
        methods: {
            onMenuBtnClick(btnName) {
                if (btnName === 'makeRequest') {
                    this.$refs.makeRequestModal.openModal();
                }
            },
            onModalSubmitBtnClick() {
                this.$refs.makeRequestModal.closeModal();
            },
            async getPersonalInfo() {
                if (!authHelper.isAuth) {
                    return {};
                }

                let personalInfo = {};
                await axiosAuth.me().then((data) => {
                    personalInfo = data;
                    personalInfo.loaded = true;
                });

                return personalInfo;
            },
            logout() {
                axiosAuth
                    .logout()
                    .then(() => {
                        authHelper.resetJwt();
                        this.isPersonalMenuOpen = false;
                    });
            },
            timeout(ms) {
                return new Promise(resolve => setTimeout(resolve, ms));
            },
            trans,
        },
        watch: {
            isAuth: {
                handler(val) {
                    if (!val) {
                        this.personalInfo = null;
                    }
                },
            },
            isPersonalMenuOpen: {
                async handler(val) {
                    if (val && !this.personalInfo) {
                        this.personalInfo = await this.getPersonalInfo();
                    }
                },
            },
        },
        inject: ['openAuthModal']
    }
</script>

<style lang="less" scoped>
    .mobile-menu {
        &-leave-active, &-enter-active {
            transition: max-height 0.5s;
        }

        &-enter-from {
            max-height: 0;
        }

        &-leave-from {
            max-height: 9.5rem;
        }

        &-enter-to {
            max-height: 9.5rem;
        }

        &-leave-to {
            max-height: 0;
        }
    }

    .mobile-menu-btn {
        &-leave-active, &-enter-active {
            transition: transform 0.5s, opacity 0.5s;
        }

        &-enter-from {
            transform: scale(0);
            opacity: 0;
        }

        &-leave-from {
            transform: scale(1);
            opacity: 1;
        }

        &-enter-to {
            transform: scale(1);
            opacity: 1;
        }

        &-leave-to {
            transform: scale(0);
            opacity: 0;
        }
    }
</style>
