<template>
    <div class="flex min-h-full flex-col justify-center px-3 py-6 sm:px-3 w-full">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="flex flex-col justify-center">
                <font-awesome-icon icon="fa-solid fa-building" alt="Your Company" class="text-black mx-auto w-auto h-10"/>
            </div>
            <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                {{ trans('AuthForm.Header') }}
            </h2>
        </div>

        <div class="mt-5 sm:mx-auto sm:w-full">
            <form class="space-y-6" method="POST" @submit.prevent="submitForm">

                <CustomInput
                    v-model="email"
                    :input-required="true"
                    :label="trans('InputLabels.EmailLabel')"
                    input-type="email"
                    input-autocomplete="email"
                    :errors="errors.email?.join(', ') ?? ''"
                    :input-tab-index="1"
                />

                <CustomInput
                    v-model="password"
                    :input-required="true"
                    :label="trans('InputLabels.PasswordLabel')"
                    input-type="password"
                    input-autocomplete="current-password"
                    :errors="errors.password?.join(', ') ?? ''"
                    :input-tab-index="2">
                    <template v-slot:top-right>
                        <div class="text-sm">
                            <a href="#" class="font-semibold text-blue-600 hover:text-blue-500" tabindex="5" @click="$emit('forgotPasswordLinkClick')">{{ trans('AuthForm.ForgotPasswordLink') }}</a>
                        </div>
                    </template>
                </CustomInput>

                <div>
                    <CustomButton
                        ref="submitBtn"
                        :disabled="isSubmitBtnDisabled"
                        type="submit"
                        :tab-index="3"
                        btn-class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:bg-blue-200">
                        {{ trans('AuthForm.SignInBtn') }}
                    </CustomButton>
                </div>
            </form>

            <p class="mt-10 text-center text-sm text-gray-500">
                {{ trans('AuthForm.NoAccount') }}
                <a href="#" class="font-semibold leading-6 text-blue-600 hover:text-blue-500" @click="$emit('registerLinkClick')" tabindex="4">
                    {{ trans('AuthForm.RegisterLink') }}
                </a>
            </p>
        </div>
    </div>
</template>

<script>
    import trans from "@/helpers/translate.js";
    import {axiosAuth} from "@/axios/auth.js";
    import {authHelper} from "@/helpers/auth.js";
    import CustomInput from "@/components/common/CustomInput.vue";
    import CustomButton from "@/components/common/CustomButton.vue";

    export default {
        name: "AuthForm",
        components: {CustomButton, CustomInput},
        data: () => ({
            email: '',
            password: '',
            errors: {},
            isSubmitBtnDisabled: false,
        }),
        emits: ['registerLinkClick', 'authSuccess', 'forgotPasswordLinkClick'],
        methods: {
            submitForm() {
                this.$refs.submitBtn.loading();

                axiosAuth
                    .login({
                        email: this.email,
                        password: this.password
                    })
                    .then(res => {
                        this.isSubmitBtnDisabled = false;
                        authHelper.setAuthTokenAndExpiresTime(res);
                        this.$emit('authSuccess');
                    })
                    .catch(err => {
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                            this.isSubmitBtnDisabled = true;
                        }
                    })
                    .finally(() => {
                        this.$refs.submitBtn.loaded();
                    });
            },
            clearForm() {
                this.email = '';
                this.password = '';
            },
            trans,
        },
        watch: {
            email: {
                handler() {
                    delete this.errors.email;
                    this.isSubmitBtnDisabled = this.errors === {};
                },
            },
            password: {
                handler() {
                    delete this.errors.password;
                    this.isSubmitBtnDisabled = this.errors === {};
                },
            }
        }
    }
</script>

<style scoped>

</style>
