<template>
    <Modal ref="authModal" @hide="clearAuthForm">
        <AuthForm ref="authForm" @registerLinkClick="onRegistrationLinkClick" @authSuccess="onAuthSuccess" @forgotPasswordLinkClick="onForgotPasswordLinkClick"/>
    </Modal>
    <Modal ref="registrationModal" @hide="clearRegistrationForm">
        <RegistrationForm ref="registrationForm" @authLinkClick="onAuthLinkClick" @registrationSuccess="onRegistrationSuccess"/>
    </Modal>
    <Modal ref="forgotPasswordModal">
        <ForgotPasswordForm @rememberPasswordLinkClick="onRememberPasswordLinkClick" @sendResetPasswordLinkSuccess="onSendResetPasswordLinkSuccess"/>
    </Modal>
</template>

<script>
    import Modal from "@/components/common/Modal.vue";
    import AuthForm from "@/components/user/AuthForm.vue";
    import RegistrationForm from "@/components/user/RegistrationForm.vue";
    import ForgotPasswordForm from "@/components/user/ForgotPasswordForm.vue";

    export default {
        name: "AuthRegister",
        data: () => ({
            authLogin: '',
            authPassword: '',
        }),
        components: {
            ForgotPasswordForm,
            RegistrationForm,
            Modal, AuthForm,
        },
        methods: {
            openAuthModal() {
                this.$refs.authModal.openModal();
            },
            closeAuthModal() {
                this.$refs.authModal.closeModal();
            },

            openRegistrationModal() {
                this.$refs.registrationModal.openModal();
            },
            closeRegistrationModal() {
                this.$refs.registrationModal.closeModal();
            },

            openForgotPasswordModal() {
                this.$refs.forgotPasswordModal.openModal();
            },
            closeForgotPasswordModal() {
                this.$refs.forgotPasswordModal.closeModal();
            },

            isAuthModalOpen() {
                return this.$refs.authModal.isShowModal;
            },
            isRegistrationModalOpen() {
                return this.$refs.registrationModal.isShowModal;
            },
            
            clearAuthForm() {
                this.$refs.authForm.clearForm();
            },
            clearRegistrationForm() {
                this.$refs.registrationForm.clearForm();
            },

            onRegistrationLinkClick() {
                this.closeAuthModal();
                this.openRegistrationModal();
            },
            onAuthLinkClick() {
                this.closeRegistrationModal();
                this.openAuthModal();
            },
            onForgotPasswordLinkClick() {
                this.closeAuthModal();
                this.openForgotPasswordModal();
            },
            onRememberPasswordLinkClick() {
                this.closeForgotPasswordModal();
                this.openAuthModal();
            },

            onAuthSuccess() {
                this.closeAuthModal();
            },
            onRegistrationSuccess() {
                this.closeRegistrationModal();
            },
            onSendResetPasswordLinkSuccess() {
                this.closeForgotPasswordModal();
            },
        }
    }
</script>

<style scoped>

</style>
