<template>
    <div class="flex min-h-full flex-col justify-center px-3 py-2 sm:px-3 w-full">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                {{ trans('ForgotPasswordForm.Header') }}
            </h2>
        </div>

        <div class="mt-5 sm:mx-auto sm:w-full">
            <form class="space-y-6" method="POST" @submit.prevent="submitForm">

                <CustomInput
                    v-model="email"
                    :input-required="true"
                    :label="trans('InputLabels.EmailLabel')"
                    input-type="email"
                    input-autocomplete="email"
                    :errors="errors.email?.join(', ') ?? ''"
                    :input-tab-index="1"
                />

                <div>
                    <CustomButton
                        ref="submitBtn"
                        :disabled="false"
                        type="submit"
                        :tab-index="2"
                        btn-class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:bg-blue-200">
                        {{ trans('ForgotPasswordForm.ResetPassword') }}
                    </CustomButton>
                </div>
            </form>

            <p class="mt-2 text-center text-sm text-gray-500">
                <a href="#" class="font-semibold leading-6 text-blue-600 hover:text-blue-500" @click="$emit('rememberPasswordLinkClick')" tabindex="4">
                    {{ trans('ForgotPasswordForm.RememberPasswordLink') }}
                </a>
            </p>
        </div>
    </div>
</template>

<script>
import trans from "@/helpers/translate.js";
import CustomInput from "@/components/common/CustomInput.vue";
import {axiosAuth} from "@/axios/auth.js";
import CustomButton from "@/components/common/CustomButton.vue";

export default {
    name: "ForgotPasswordForm",
    components: {CustomButton, CustomInput},
    data: () => ({
        email: '',
        errors: {}
    }),
    methods: {
        submitForm() {
            axiosAuth
                .sendResetPasswordLink({email: this.email})
                .then((res) => {
                    this.openInfoModal(
                        'success',
                        this.trans('ForgotPasswordForm.ResetPasswordSuccess')
                        + '<br>'
                        + this.trans('ForgotPasswordForm.TokenExpires', {minutes: res.expire})
                    );
                    this.$emit('sendResetPasswordLinkSuccess');
                })
                .catch(err => {
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                });
        },
        trans,
    },
    emits: [
        'rememberPasswordLinkClick', 'sendResetPasswordLinkSuccess',
    ],
    inject: ['openInfoModal'],
    watch: {
        email: {
            handler() {
                delete this.errors.email;
            },
        },
    }
}
</script>

<style scoped>

</style>