<template>
    <div class="flex min-h-full flex-col justify-center px-3 py-6 sm:px-3 w-full">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <div class="flex flex-col justify-center">
                <font-awesome-icon icon="fa-solid fa-building" alt="Your Company" class="text-black mx-auto w-auto h-10"/>
            </div>
            <h2 class="mt-5 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                {{ trans('RegistrationForm.Header') }}
            </h2>
        </div>

        <div class="mt-5 sm:mx-auto sm:w-full">
            <form class="space-y-6" method="POST" @submit.prevent="submitForm">
                <CustomInput
                    v-model="email"
                    :input-required="true"
                    :label="trans('InputLabels.EmailLabel')"
                    input-type="email"
                    input-autocomplete="email"
                    :errors="errors.email?.join(', ') ?? ''"
                    :input-tab-index="1"
                />

                <CustomInput
                    v-model="name"
                    :input-required="true"
                    :label="trans('InputLabels.UserNameLabel')"
                    input-type="text"
                    input-autocomplete="name"
                    :errors="errors.name?.join(', ') ?? ''"
                    :input-tab-index="2"
                />

                <CustomInput
                    v-model="password"
                    :input-required="true"
                    :label="trans('InputLabels.PasswordLabel')"
                    input-type="password"
                    input-autocomplete="new-password"
                    :errors="errors.password?.join(', ') ?? ''"
                    :input-tab-index="3"
                />

                <CustomInput
                    v-model="confirmPassword"
                    :input-required="true"
                    :label="trans('InputLabels.ConfirmPasswordLabel')"
                    input-type="password"
                    input-autocomplete="new-password"
                    :errors="errors.password_confirmation?.join(', ') ?? ''"
                    :input-tab-index="4"
                />

                <div>
                    <CustomButton
                        ref="submitBtn"
                        :disabled="false"
                        type="submit"
                        :tab-index="5"
                        btn-class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:bg-blue-200">
                        {{ trans('RegistrationForm.RegisterBtn') }}
                    </CustomButton>
                </div>
            </form>

            <p class="mt-10 text-center text-sm text-gray-500">
                {{ trans('RegistrationForm.HasAccount') }}
                <a href="#" class="font-semibold leading-6 text-blue-600 hover:text-blue-500" @click="$emit('authLinkClick')">
                    {{ trans('RegistrationForm.SignInLink') }}
                </a>
            </p>
        </div>
    </div>
</template>

<script>
    import trans from "@/helpers/translate.js";
    import {axiosAuth} from "@/axios/auth.js";
    import {authHelper} from "@/helpers/auth.js";
    import CustomInput from "@/components/common/CustomInput.vue";
    import CustomButton from "@/components/common/CustomButton.vue";

    export default {
        name: "RegistrationForm",
        components: {CustomButton, CustomInput},
        data: () => ({
            email: '',
            name: '',
            password: '',
            confirmPassword: '',
            errors: {}
        }),
        emits: ['authLinkClick', 'registrationSuccess'],
        methods: {
            submitForm() {
                axiosAuth
                    .registration({
                        email: this.email,
                        name: this.name,
                        password: this.password,
                        password_confirmation: this.confirmPassword,
                    }).then((res) => {
                        authHelper.setAuthTokenAndExpiresTime(res);
                        this.$emit('registrationSuccess');
                    }).catch(err => {
                        if (err.response.status === 422) {
                            this.errors = err.response.data.errors;
                        }
                    });
            },
            clearForm() {
                this.email = '';
                this.name = '';
                this.password = '';
                this.confirmPassword = '';
            },
            trans,
        },
        watch: {
            email: {
                handler() {
                    delete this.errors.email;
                },
            },
            name: {
                handler() {
                    delete this.errors.name;
                },
            },
            password: {
                handler() {
                    delete this.errors.password;
                },
            },
            confirmPassword: {
                handler() {
                    delete this.errors.password_confirmation;
                },
            },
        },
    }
</script>

<style scoped>

</style>
