<template>
    <Modal v-if="isShowResetPasswordModal" ref="resetPasswordModal" :is-close-btn-hidden="true" :is-close-on-esc="false" :is-close-on-outside-click="false">
        <ResetPasswordForm :maskedEmail="maskedEmail" :email="email" @resetPasswordSuccess="onResetPasswordSuccess" @resetPasswordError="onResetPasswordError"/>
    </Modal>
</template>

<script>
import Modal from "@/components/common/Modal.vue";
import ResetPasswordForm from "@/components/user/ResetPasswordForm.vue";
import {axiosAuth} from "@/axios/auth.js";
import trans from "@/helpers/translate.js";

export default {
    name: "ResetPasswordContainer",
    components: {ResetPasswordForm, Modal},
    data: () => ({
        maskedEmail: '*********',
        email: '',
        isResetTokenChecked: false,
    }),
    mounted() {
        if (this.isShowResetPasswordModal()) {
            this.$refs.resetPasswordModal.openModal();
            this.$refs.resetPasswordModal.loading();
            this.checkToken();
        }
    },
    methods: {
        isShowResetPasswordModal() {
            return this.$route.name === 'ResetPassword';
        },
        checkToken() {
            axiosAuth.checkResetPasswordToken({
                token: this.$route.params.resetToken
            }).then(res => {
                this.maskedEmail = res.maskedEmail;
                this.email = res.email;
                this.isResetTokenChecked = true;
                this.$refs.resetPasswordModal.loaded();
            }).catch(err => {
                if (err.response.status === 422) {
                    this.openInfoModal(
                        'error',
                        err.response.data.errors.token
                    );
                    this.$refs.resetPasswordModal.closeModal();
                }
                if (err.response.status === 403) {
                    this.openInfoModal(
                        'error',
                        this.trans('ResetPasswordForm.ResetPasswordSuccess')
                    );
                    this.$refs.resetPasswordModal.closeModal();
                }
                this.$refs.resetPasswordModal.loaded();
            });
        },
        onResetPasswordSuccess() {
            this.$refs.resetPasswordModal.closeModal();
        },
        onResetPasswordError() {
            this.$refs.resetPasswordModal.closeModal();
        },
        trans,
    },
    inject: ['openInfoModal'],
}
</script>

<style scoped>

</style>