<template>
    <div class="flex min-h-full flex-col justify-center px-3 py-2 sm:px-3 w-full">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">
                {{ trans('ResetPasswordForm.Header', {email: this.maskedEmail}) }}
            </h2>
        </div>

        <div class="mt-5 sm:mx-auto sm:w-full">
            <form class="space-y-6" method="POST" @submit.prevent="submitForm">

                <CustomInput
                    v-model="password"
                    :input-required="true"
                    :label="trans('InputLabels.PasswordLabel')"
                    input-type="password"
                    input-autocomplete="new-password"
                    :errors="errors.password?.join(', ') ?? ''"
                    :input-tab-index="1"
                />

                <CustomInput
                    v-model="confirmPassword"
                    :input-required="true"
                    :label="trans('InputLabels.ConfirmPasswordLabel')"
                    input-type="password"
                    input-autocomplete="new-password"
                    :errors="errors.password_confirmation?.join(', ') ?? ''"
                    :input-tab-index="2"
                />

                <div>
                    <CustomButton
                        ref="submitBtn"
                        :disabled="false"
                        type="submit"
                        :tab-index="3"
                        btn-class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 disabled:bg-blue-200">
                        {{ trans('ResetPasswordForm.SubmitNewPassword') }}
                    </CustomButton>
                </div>
            </form>
        </div>
    </div>
</template>

<script>

import CustomInput from "@/components/common/CustomInput.vue";
import trans from "@/helpers/translate.js";
import {axiosAuth} from "@/axios/auth.js";
import CustomButton from "@/components/common/CustomButton.vue";

export default {
    name: "ResetPasswordForm",
    components: {CustomButton, CustomInput},
    props: {
        email: {
            type: String,
            default: '',
        },
        maskedEmail: {
            type: String,
            default: '',
        },
    },
    data: () => ({
        password: '',
        confirmPassword: '',
        errors: {}
    }),
    emit: ['resetPasswordSuccess', 'resetPasswordError'],
    methods: {
        submitForm() {
            axiosAuth
                .resetPassword({
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.confirmPassword,
                    token: this.$route.params.resetToken,
                })
                .then(res => {
                    this.openInfoModal(
                        'success',
                        this.trans('ResetPasswordForm.ResetPasswordSuccess')
                    );
                    this.$emit('resetPasswordSuccess');
                })
                .catch(err => {
                    if (err.response.status === 422) {
                        this.errors = err.response.data.errors;
                    }
                    if (err.response.status === 403) {
                        this.openInfoModal(
                            'error',
                            this.trans('ResetPasswordForm.ResetPasswordSuccess')
                        );
                        this.$emit('resetPasswordError');
                    }
                });
        },
        clearForm() {
            this.email = '';
            this.password = '';
        },
        trans,
    },
    inject: ['openInfoModal'],
    watch: {
        password: {
            handler() {
                delete this.errors.password;
            },
        },
        confirmPassword: {
            handler() {
                delete this.errors.password_confirmation;
            },
        },
    },
}
</script>

<style scoped>

</style>