<template>
    <MainHeader/>
    <main>
        <router-view />
    </main>
    <AuthRegister ref="authRegisterForm"/>
    <Toast ref="toast">{{ toastContent }}</Toast>
    <InfoModal ref="infoModal">
        <span v-html="infoModalContent"></span>
    </InfoModal>
</template>

<script>
    import MainHeader from "@/components/header/MainHeader.vue";
    import AuthRegister from "@/components/user/AuthRegister.vue";
    import {authHelper} from "@/helpers/auth.js";
    import Toast from "@/components/common/Toast.vue";
    import InfoModal from "@/components/common/InfoModal.vue";

    export default {
        components: {
            InfoModal,
            Toast,
            MainHeader, AuthRegister
        },
        mounted() {
            this.checkAuth();
        },
        data: () => ({
            toastContent: '',
            infoModalContent: '',
        }),
        methods: {
            openAuthModal() {
                this.$refs.authRegisterForm.openAuthModal();
            },
            openRegistrationModal() {
                this.$refs.authRegisterForm.openRegistrationModal();
            },
            checkAuth() {
                authHelper.refreshToken();
            },
            showToast(type, content, delay) {
                this.toastContent = content
                this.$refs.toast.showToast(type, delay);
            },
            openInfoModal(type, content) {
                this.infoModalContent = content;
                this.$refs.infoModal.openModal(type);
            },
        },
        provide() {
            return {
                openAuthModal: this.openAuthModal,
                openRegistrationModal: this.openRegistrationModal,
                showToast: this.showToast,
                openInfoModal: this.openInfoModal,
            }
        },
    }
</script>

<style scoped>

</style>
