<template>
    <h1>Main</h1>
    <ResetPasswordContainer/>
</template>

<script>
    import ResetPasswordContainer from "@/components/user/ResetPasswordContainer.vue";

    export default {
        components: {ResetPasswordContainer}
    }
</script>

<style scoped>

</style>
